{
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 0,
    "react/no-danger": 0,
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ]
  },
  "globals": {
    "window": true,
    "FormData": true,
    "fetch": true
  },
  "plugins": ["@typescript-eslint", "prettier"]
}
